<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/photon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" rel="stylesheet">
</head>

<body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title">Loja XYZ</h1>
            <img src="logo.jpg" alt="" class="logo" >
            <button type="button" @click="createProduct()" class="btn btn-primary" style="float: right; padding: 6px; margin: 12px;">Cadastro de Produto</button>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar">
                    <nav class="nav-group">
                        <a class="nav-group-item active" href="produtos.html">
                            <span class="icon icon-home"></span>
                            Produtos
                        </a>
                        <a class="nav-group-item" href="vendas.html">
                            <span class="icon icon-download"></span>
                            Vendas
                        </a>
                        <a class="nav-group-item" href="index.html">
                            <span class="icon icon-folder"></span>
                            Clientes
                        </a>
                    </nav>
                </div>
                <div class="pane">
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="produto in produtos">
                                <td>{{produto.nome}}</td>
                                <td>{{produto.preco}}</td>
                                <td>{{produto.qtd}}</td>
                                <td type="button" class="btn btn-primary" @click="editProduct(produto)">Editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 class="title">Desenvolvido por SwitchCase SoftwareHouse</h1>
        </footer>
    </div>
    <div id="modal" v-if="openModal">
        <div class="wrap">
            <form id="cadastro-cliente" action="" class="pane-body">
                <h3 v-if="mode == 'cadastro'">Cadastro de Produto</h3>
                <h3 v-if="mode == 'edicao'">Editar Produto</h3>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="product.nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="product.preco" placeholder="Preço">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="product.qtd"
                        placeholder="Quantidade">
                </div>
                <button class="btn btn-positive" @click="productStoreOrUpdate" type="button">Salvar</button>
                <button type="button" class="btn btn-negative" @click="openModal=false">Fechar</button>
            </form>
        </div>
    </div>

</body>
<script>
    let read = require('read-file-utf8')
    let loki = require('lokijs')  // Mesmo que "import"  
    let db = new loki('db.json')
    let data = read(__dirname + '/db.json')
    db.loadJSON(data)
    window.Vue = require('vue')
    // let produtos = db.addCollection('produtos')

    let produtos = db.getCollection('produtos')
    db.save()
    new Vue({
        el: 'body',
        data: {
            mode:'',
            openModal: false,
            produtos: [],
            product:{
                nome:'',
                preco:'',
                qtd:0
            }
        },
        ready: function(){
            this.produtos = produtos.data;
            console.log(this.produtos)
        },
        methods:{
            editProduct: function(product){
                this.mode = 'edicao'
                this.openModal = true
                this.product = product
            },
            createProduct: function(){
                this.mode = 'cadastro'
                this.openModal = true
                this.product={ // Reinicializando os dados por precaução
                    nome:'',
                    preco:'',
                    qtd:''
                }
            },
            productStoreOrUpdate: function(){
                if(typeof this.product.$loki != 'undefined'){
                    produtos.update(this.product)
                } else{
                    produtos.insert(this.product)
                }
                db.save()
                this.openModal = false
            }
        }
    })
</script>
</html>