<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/photon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" rel="stylesheet">
</head>

<body>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title">Loja XYZ</h1>
            <img src="logo.jpg" alt="" class="logo" >
            <button type="button" @click="createSale()" class="btn btn-primary" style="float: right; padding: 6px; margin: 12px;">Cadastro de Vendas</button>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar">
                    <nav class="nav-group">
                        <a class="nav-group-item " href="produtos.html">
                            <span class="icon icon-home"></span>
                            Produtos
                        </a>
                        <a class="nav-group-item active" href="vendas.html">
                            <span class="icon icon-download"></span>
                            Vendas
                        </a>
                        <a class="nav-group-item" href="index.html">
                            <span class="icon icon-folder"></span>
                            Clientes
                        </a>
                    </nav>
                </div>
                <div class="pane">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Produto</th>
                                <th>Preço Un.</th>
                                <th>Qtd</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="venda in vendas">
                                <td>{{venda.cliente}}</td>
                                <td>{{venda.produto}}</td>
                                <td>{{venda.preco}}</td>
                                <td>{{venda.qtd}}</td>
                                <td>{{venda.qtd*venda.preco}}</td>
                                <td type="button" class="btn btn-primary" @click="editSale(venda)">Editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 class="title">Desenvolvido por SwitchCase SoftwareHouse</h1>
        </footer>
    </div>
    <div id="modal" v-if="openModal">
        <div class="wrap">
            <form id="cadastro-cliente" action="" class="pane-body">
                <h3 v-if="mode == 'cadastro'">Cadastro de Venda</h3>
                <h3 v-if="mode == 'edicao'">Editar Venda</h3>
                <div class="form-group">
                    <select v-model="sale.cliente" class="form-control">
                        <option value="{{c.nome}}" v-for="c in clientes">{{c.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select v-model="sale.produto" class="form-control">
                        <option value="{{p.nome}}" v-for="p in produtos">{{p.nome}}</option>
                    </select>
                </div>
                <div class="form-group" v-if="mode == 'edicao'">
                    <input type="text" class="form-control" v-model="sale.preco" placeholder="Preço">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="sale.qtd" placeholder="Quantidade">
                </div>
                <button class="btn btn-positive" @click="saleStoreOrUpdate" type="button">Salvar</button>
                <button type="button" class="btn btn-negative" @click="openModal=false">Fechar</button>
            </form>
        </div>
    </div>

</body>
<script>
    let read = require('read-file-utf8')
    let loki = require('lokijs')  // Mesmo que "import"  
    let db = new loki('db.json')
    let data = read(__dirname + '/db.json')
    db.loadJSON(data)
    window.Vue = require('vue')
    let vendas = db.getCollection('vendas')
    let clientes = db.getCollection('Clientes')
    let produtos = db.getCollection('produtos')
    db.save()
    new Vue({
        el: 'body',
        data: {
            mode: '',
            openModal: false,
            vendas: [],
            clientes: [],
            produtos: [],
            sale: {
                cliente: '',
                produto: '',
                preco: 0,
                qtd: 1
            }
        },
        ready: function () {
            this.produtos = produtos.data;
            this.clientes = clientes.data;
            this.vendas = vendas.data;
            console.log(this.produtos)
        },
        methods: {
            editSale: function (sale) {
                this.mode = 'edicao'
                this.openModal = true
                this.sale = sale
            },
            createSale: function () {
                this.mode = 'cadastro'
                this.openModal = true
                this.sale = {
                    cliente: '',
                    produto: '',
                    preco: 0,
                    qtd: 1
                }
            },
            saleStoreOrUpdate: function () {
                if (typeof this.sale.$loki != 'undefined') {
                    vendas.update(this.sale)
                } else {
                    // console.log(produtos.find({nome: this.sale.produto})[0].preco)  // Procuramos nos produtos o produto com o nome selecionado na parte da venda
                    this.sale.preco = produtos.find({ nome: this.sale.produto })[0].preco  // Procuramos nos produtos o produto com o nome selecionado na parte da venda 
                    vendas.insert(this.sale)
                }
                db.save()
                this.openModal = false
            }
        }
    })
</script>

</html>